@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Acme', sans-serif;
  text-decoration: none;
}

.con {
  margin-top: 20%;
  width: 100%;
  position: relative;
}

.con::before {
  content: '';
  background: url(../images/home.png) center no-repeat;
  background-size: contain;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.con div {
  position: relative;
  text-align: center;
}

span {
  font-size: 3.5rem;
  font-weight: bold;
}

a {
  text-shadow: 1.5px 1.5px 2px black;
  font-size: 3rem;
  letter-spacing: 0.05em;
  color: #711dbf;
  /* 전이가 일어날 속성값 */
  transition-property: color;
  transition: 0.5s ease-in-out;
}

a:hover {
  color: #e810cb;
}
