@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Acme', sans-serif;
  text-decoration: none;
}

#con {
  margin: 0 auto;
  width: 96%;
  max-width: 100%;
}

#to-home {
  width: 6%;
  /* background-color: #9f0ee3;
    text-shadow: 1px 1px 1px black; */
  background: url(../images/home.png) no-repeat center;
  background-size: 80%;
  padding: 4% 0;
}

header {
  width: 100%;
  position: relative;
  margin-top: 2%;
}

h2 {
  position: relative;
  font-size: 3em;
  color: #9f0ee3;
  text-shadow: 1.5px 1.5px 2px black;
  text-align: center;
  padding: 4% 0 5% 0;
  letter-spacing: 0.1em;
  background: url(../images/star.png) no-repeat;
  background-position: 28% 10%;
}

h2 img {
  height: 15%;
  width: 30%;
  position: absolute;
  top: 67%;
  right: 35%;
}

ul li {
  width: 100%;
  color: #bf36ff;
  text-shadow: 1.5px 1.5px 2px black;
  font-size: 2em;
  letter-spacing: 0.1em;
  margin-top: 15%;
  background: url(../images/list-icon.png) no-repeat;
  background-position: -2% 2%;
  padding: 0 10%;
  margin-right: -25%;
  margin-left: -25%;
  padding-left: -22%;
}

section {
  position: relative;
}

ul {
  position: absolute;
  left: 35%;
}
