@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Acme', sans-serif;
  text-decoration: none;
}

#to-home img {
  width: 20%;
  margin-bottom: 5%;
}

#wrapper {
  width: 80px;
  margin-left: 2%;
  max-width: 1180px;
}

#wrapper a:nth-child(1) {
  margin-left: 2px;
}

#wrapper > a {
  padding: 0 5px;
  font-size: 2rem;
}

#con {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.fixed-div {
  position: sticky;
  top: 5px;
  width: 20%;
  padding: 2% 0 1% 2%;
}

h2 {
  position: relative;
  font-size: 3.5em;
  text-shadow: 1.5px 1.5px 2px black;
  margin: 0 1%;
  letter-spacing: 0.1em;
}

h2 a {
  color: #9f0ee3;
  position: relative;
  text-align: center;
}

#title {
  width: 30%;
  display: flex;
  margin: -4% auto 0 auto;
}

#icon1,
#icon2 {
  margin-top: 4%;
  width: 13%;
  height: 4%;
}
/* -----------box1-------------------------- */
#web-surfing input[type='radio'] {
  display: none;
}

#tab-1:checked ~ .tab label:nth-child(1),
#tab-2:checked ~ .tab label:nth-child(2),
#tab-3:checked ~ .tab label:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: none;
}

.content > div {
  display: none;
}

#tab-1:checked ~ .content div:nth-child(1),
#tab-2:checked ~ .content div:nth-child(2),
#tab-3:checked ~ .content div:nth-child(3) {
  display: block;
}

#web-surfing {
  margin: 0 auto;
  width: 100%;
  border-top: 2px solid #7a7d82;
}

h3 {
  padding: 10px 0;
  text-align: center;
  font-size: 2.8em;
}

.tab {
  overflow: hidden;
}

.tab label {
  border-right: 2px ridge #7a7d82;
  font-size: 2em;
  cursor: pointer;
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  user-select: none;
  -webkit-user-select: none;
}

.tab label:nth-child(3) {
  margin-right: -6px;
}

.content {
  background-color: rgba(0, 0, 0, 0.2);
  height: 503px;
}

.content > div {
  padding: 25px;
  line-height: 1.5;
}

.content-dis > img {
  width: 55%;
  height: 400px;
  float: left;
}

.content-dis {
  width: 60%;
  margin: 0 auto;
}

.con-box {
  padding-top: 11%;
}

h4 {
  text-align: center;
  font-size: 1.8em;
  letter-spacing: 2px;
  margin-bottom: 5%;
}

#logo {
  margin: 0 auto;
  width: 12%;
  display: block;
}

.auto-box {
  text-align: center;
}

.auto-box p {
  font-size: 1.5em;
  letter-spacing: 1px;
}

.home-page {
  margin-top: 18px;
  font-size: 1.5em;
  letter-spacing: 1px;
  width: 12%;
  height: 45px;
  border-radius: 10px;
  border: 2px groove #81817e;
  background-color: #b7a7b8;
  box-shadow: 1px 1px 1px #6b5f70;
}

.home-page a {
  color: #3b3039;
  text-shadow: 1.5px 1.5px 1px rgb(134, 121, 134);
}

/* -----------box2-------------------------- */

#box2 h3 {
  padding: 20px 0;
  border-bottom: 2px ridge #7a7d82;
}

#flex-box img {
  width: 350px;
  height: 400px;
  vertical-align: bottom;
}

#overflow-box {
  width: 350px;
  overflow: hidden;
  margin: 15px auto 0 auto;
}

#instagram-icon {
  text-align: right;
  margin-bottom: 3px;
}

#flex-box {
  width: 2100px;
  display: flex;
  transition: 0.5s;
}

#sticky-box {
  height: 1770px;
  margin-top: 5%;
}

#box1 {
  position: sticky;
  top: 50px;
  height: 650px;
  width: 75%;
  margin: -15px auto 100px auto;
  border: 2px ridge #7a7d82;
  background-color: rgba(250, 250, 250);
  transition: 0.3s ease-out;
}

#box2 {
  position: sticky;
  top: 50px;
  height: 590px;
  width: 40%;
  margin: -20px auto 150px auto;
  border: 2px ridge #7a7d82;
  transition: 0.3s ease-out;
  background-color: rgba(250, 250, 250);
  position: relative;
}

.btn-box {
  position: absolute;
  width: 100%;
  top: 55%;
}

.btn-box div {
  width: 55%;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

#left-btn {
  position: absolute;
  left: 0;
}

#right-btn {
  position: absolute;
  right: 0;
}

.btn-box button {
  width: 20px;
  height: 27px;
  display: inline-block;
}

.btn-box button:hover {
  transform: scale(1.1);
}

/* -----------box3-------------------------- */

#box3 {
  position: sticky;
  top: 50px;
  height: 590px;
  margin: 250px auto 100px auto;
  border: 2px ridge #7a7d82;
  transition: 0.3s ease-out;
  background-color: rgba(250, 250, 250);
  width: 55%;
}

#box3 h3 {
  padding: 20px 0;
  border-bottom: 2px ridge #7a7d82;
}

.box-wrapper {
  display: flex;
  margin-top: -10px;
}

.flow-box {
  width: 45%;
  margin: 0 auto;
  position: relative;
}

#btn-box2 {
  position: absolute;
  width: 100%;
  top: 50%;
}

#btn-box2 div {
  width: 95%;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

#left-btn2 {
  position: absolute;
  left: 0;
}

#right-btn2 {
  position: absolute;
  right: 0;
}

#btn-box2 button {
  width: 20px;
  height: 27px;
  display: inline-block;
}

#btn-box2 button:hover {
  transform: scale(1.1);
}

#btn-box3 {
  position: absolute;
  width: 100%;
  top: 50%;
}

#btn-box3 div {
  width: 86%;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

#left-btn3 {
  position: absolute;
  left: 0;
}

#right-btn3 {
  position: absolute;
  right: 0;
}

#btn-box3 button {
  width: 20px;
  height: 27px;
  display: inline-block;
}

#btn-box3 button:hover {
  transform: scale(1.1);
}

#img-flex img {
  width: 350px;
  height: 420px;
  vertical-align: bottom;
}

#img-overflow {
  width: 350px;
  overflow: hidden;
  margin: 45px auto 0 auto;
}

#img-flex {
  width: 1050px;
  display: flex;
  transition: 0.5s;
}

#video-flex video {
  width: 350px;
  height: 420px;
  vertical-align: bottom;
}

#video-overflow {
  width: 350px;
  overflow: hidden;
  margin: 45px auto 0 auto;
}

#video-flex {
  width: 1400px;
  display: flex;
  transition: 0.5s;
}

/* 지워야해요용ㅎㅇ */
#test {
  margin-top: 100px;
  height: 450px;
  background-color: #f00;
}

.opacity {
  opacity: 0;
  transform: scale(0.9);
}
