@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Acme', sans-serif;
  text-decoration: none;
}

#to-home img {
  width: 50px;
  margin: 2% 0 1% 2%;
}

#wrapper {
  width: 80px;
  margin-left: 2%;
  max-width: 1180px;
}

#wrapper a:nth-child(1) {
  margin-left: 2px;
}

#wrapper > a {
  padding: 0 5px;
  font-size: 2rem;
}

#con {
  width: 100%;
}

h2 {
  position: relative;
  font-size: 3.5em;
  text-shadow: 1.5px 1.5px 2px black;
  text-align: center;
  padding: 3% 0 0 0;
  letter-spacing: 0.1em;
  margin-top: -3%;
}

h2 a {
  color: #9f0ee3;
  position: relative;
}

.box {
  text-align: center;
}
#underline {
  position: absolute;
  bottom: -13px;
  left: 0%;
  width: 8em;
  height: 0.3em;
}

ul li {
  color: #bf36ff;
  text-shadow: 1.5px 1.5px 2px black;
  font-size: 2em;
  letter-spacing: 0.1em;
  background: url(../images/list-icon.png) no-repeat;
  padding-left: 25%;
  margin: 5% -35% 10% 0;
}

section {
  width: 100%;
  margin: 0 auto;
}

ul {
  margin-top: 3%;
  padding-right: 10%;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
