@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Acme', sans-serif;
  text-decoration: none;
}

#con {
  width: 100%;
  margin-top: 2%;
}

#wrap {
  width: 96%;
  text-align: center;
}
