@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Acme', sans-serif;
  text-decoration: none;
}

#con {
  width: 100%;
}

#wrap {
  width: 98%;
  text-align: center;
}

header {
  position: relative;
}

header::before {
  content: '';
  background: url(../images/mainhome.png) no-repeat center;
  width: 100%;
  background-size: 55% 40%;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 5px;
}

header h2 {
  text-shadow: 1.5px 1.5px 2px black;
  font-size: 3em;
  position: relative;
  padding-top: 9%;
  padding-bottom: 7%;
  letter-spacing: 0.1em;
}

header h2 a {
  width: 100%;
  color: #9f0ee3;
}

ul li {
  margin-top: 3%;
  position: relative;
}

ul li:nth-child(1){
  margin-top: -2%;
}

nav {
  position: relative;
}

nav::before {
  vertical-align: middle;
  content: '';
  background: url(../images/cloud.png) center no-repeat;
  background-size: 30%;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* 호버 효과 */
nav ul li a {
  width: 100%;
  color: #bf36ff;
  font-size: 2em;
  text-shadow: 1.5px 1.5px 2px black;
  padding: 0 5px;
  outline-offset: 0px;
  transition: 0.5s ease-in-out;
}

nav ul li a:hover {
  color: #bf36ff;
  font-size: 2.5em;
  text-shadow: 1.5px 2px 2px black;
  outline-offset: 15px;
}

