@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Acme', sans-serif;
  text-decoration: none;
}

#to-home img {
  width: 4%;
  padding: 2% 0 1% 2%;
}

#wrapper {
  width: 80px;
  margin-left: 2%;
  max-width: 1180px;
}

#wrapper a:nth-child(1) {
  margin-left: 2px;
}

#wrapper > a {
  padding: 0 5px;
  font-size: 2rem;
}

#con {
  width: 100%;
  margin: 0 auto;
}

h2 {
  position: relative;
  font-size: 3.5em;
  text-shadow: 1.5px 1.5px 2px black;
  letter-spacing: 0.1em;
  text-align: center;
}

h2 a {
  color: #9f0ee3;
}
