@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Acme', sans-serif;
  text-decoration: none;
}

#to-home img {
  width: 50px;
  margin: 2% 0 1% 2%;
}

#wrapper {
  width: 80px;
  margin-left: 2%;
  max-width: 1180px;
}

#wrapper a:nth-child(1) {
  margin-left: 2px;
}

#wrapper > a {
  padding: 0 5px;
  font-size: 2rem;
}

header {
  position: relative;
}

header::before {
  content: '';
  background: url(../images/rainbow.jpg) no-repeat center;
  background-size: 70% 120%;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 5px;
}

h2 {
  position: relative;
  font-size: 3.5em;
  text-shadow: 1.5px 1.5px 2px black;
  text-align: center;
  padding: 3% 0 5% 0;
  letter-spacing: 0.1em;
}

h2 a {
  color: #9f0ee3;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.2);
}

article {
  text-align: center;
  border-radius: 50px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -15%);
  /* width: 45%;
  height: 50%; */
  padding: 2% 0 2% 0;
  background-color: #fff;
}

#text-box {
  position: relative;
}

#contents {
  position: absolute;
  margin-top: 3%;
  width: 100%;
  z-index: 2;
}

#imgs {
  position: absolute;
  top: 0;
  left: 10%;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.content div {
  margin: 5% 0 10% 0;
  padding: 2% 0 3% 0;
  line-height: 1.5;
  /* background-color: #9f0ee3; */
  text-align: center;
  position: relative;
}

.tab {
  overflow: hidden;
}

.tab label {
  margin: 0 auto;
  font-size: 2em;
  cursor: pointer;
  display: block;
  width: 35%;
  text-align: center;
  padding: 2% 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  user-select: none;
  -webkit-user-select: none;
}

@media screen and (max-width: 700px) {
  .tab label {
    width: 70%;
  }
}

h4 {
  position: relative;
  padding-bottom: 1.5%;
  font-size: 2em;
  color: #bf36ff;
  text-shadow: 1px 1px 0 #ccc;
  letter-spacing: 0.1em;
}

p {
  position: relative;
  line-height: 180%;
  color: #bf36ff;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ccc;
  letter-spacing: 0.1em;
}

label {
  color: #bf36ff;
  font-size: 2em;
  text-shadow: 1.5px 1.5px 2px black;
  padding: 0 5px;
  outline-offset: 0px;
  transition: 0.5s ease-in-out;
}

/* label 호버 효과 */
label:hover {
  color: #bf36ff;
  font-size: 2.5em;
  text-shadow: 1.5px 2px 2px black;
  outline-offset: 15px;
}
