* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
img {
    vertical-align: baseline;
}



.tab {
    display: flex;
    width: 70%;
    margin: 0 auto;
    border-left: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;
}
.tab label { 
    display: block;
    width: 33.33%;
    text-align: center;
    border-right: 1px solid black;
}


.content-dis {
    display: flex;
    width: 70%;
    height: 400px;
    margin: 0 auto;
    border: 1px solid black;
}
.content-dis img {
    width: 50%;
}
.content-dis .con-box {
    width: 50%;
    text-align: center;
}
.content-dis .con-box h4 {
    margin-top: 60px;
}
.content-dis .con-box p {
    margin: 60px 0 20px 0;
}
.content-dis .con-box img {
    display: block;
    width: 15%;
    margin: 60px auto;
    margin-bottom: 30px;

}